* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 'Verdana', sans-serif;
}


/*hight, width, calc, and more*/

:root {
    --gap: .5em;
    --index: calc(1vw + 1vh);
    --color-dark: #000;
}

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    position: absolute;
    font-size: 20px;
    text-align: center;
    margin-top: 130px;
    align-items: center;
    color: rgb(46, 46, 46);
}

.copyright span {
    font-size: 22px;
    color: rgb(87, 9, 9);
}

.header {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: calc(var(--index)*2.6);
    position: absolute;
    font-weight: 200;
    text-align: center;
    margin-top: .2em;
    opacity: .9;
}

.header span {
    display: block;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: calc(var(--index)*.80);
    margin-top: 5px;
}

.gallery {
    width: 30vw;
    column-width: 2em;
    gap: var(--gap);
    transform: scale(8.2);
    will-change: transform;
    transition: transform 1s cubic-bezier(.075, 1, .25, 1), opacity 1s;
}

.gallery__item {
    margin-bottom: var(--gap);
    transform: scale(1.001);
    will-change: transform;
    transition: .3s;
}

.gallery__item:hover {
    transform: scale(1.16);
    /*Zoom hover*/
}

.gallery__item img {
    width: 100%;
    display: block;
}

.loaded .gallery {
    opacity: 1;
}

.loaded .header span {
    opacity: 0;
    /*loaded slower*/
}


/* D A R K   Mode   O S */

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-dark);
    }
    .header {
        filter: invert(100%)
    }
}